HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/Application/pom.xml.versionsBackup
/ArchitectureTest/pom.xml.versionsBackup
/AssetConverter/pom.xml.versionsBackup
/Authorization/AuthorizationCore/pom.xml.versionsBackup
/Authorization/pom.xml.versionsBackup
/Common/pom.xml.versionsBackup
/DeliveryProtection/DeliveryProtectionCore/pom.xml.versionsBackup
/DeliveryProtection/pom.xml.versionsBackup
/DepotServices/DepotServicesCore/pom.xml.versionsBackup
/DepotServices/pom.xml.versionsBackup
/DestinationDetermination/pom.xml.versionsBackup
/E2E/pom.xml.versionsBackup
/ExceptionHandler/pom.xml.versionsBackup
/Generator/BarcodeGenerator/pom.xml.versionsBackup
/Generator/CsvFileGenerator/pom.xml.versionsBackup
/Generator/pom.xml.versionsBackup
/MailService/pom.xml.versionsBackup
/ManagerTools/Properties/pom.xml.versionsBackup
/ManagerTools/pom.xml.versionsBackup
/PalletHandlingManager/PalletHandlingManagerCore/pom.xml.versionsBackup
/PalletHandlingManager/pom.xml.versionsBackup
/ParcelManagement/ParcelManagementApi/pom.xml.versionsBackup
/ParcelManagement/ParcelManagementCore/pom.xml.versionsBackup
/ParcelManagement/pom.xml.versionsBackup
/ParcelStatusControlChange/ParcelStatusControlChangeCore/pom.xml.versionsBackup
/ParcelStatusControlChange/pom.xml.versionsBackup
/PathFinder/PathFinderApi/pom.xml.versionsBackup
/PathFinder/PathFinderCore/pom.xml.versionsBackup
/PathFinder/pom.xml.versionsBackup
/ReturningTrackManager/ReturningTrackManagerCore/pom.xml.versionsBackup
/ReturningTrackManager/pom.xml.versionsBackup
/RouteLogger/RouteLoggerApi/pom.xml.versionsBackup
/RouteLogger/RouteLoggerCore/pom.xml.versionsBackup
/RouteLogger/pom.xml.versionsBackup
/RouteTrackerFlow/RouteTrackerFlowCore/pom.xml.versionsBackup
/RouteTrackerFlow/pom.xml.versionsBackup
/SoftwareConfiguration/SoftwareConfigurationCore/pom.xml.versionsBackup
/SoftwareConfiguration/pom.xml.versionsBackup
/SupplyOperation/SupplyOperationApi/pom.xml.versionsBackup
/SupplyOperation/SupplyOperationCore/pom.xml.versionsBackup
/SupplyOperation/pom.xml.versionsBackup
/Utility/Caching/pom.xml.versionsBackup
/Utility/pom.xml.versionsBackup
/ZebraIntegration/ZebraIntegrationApi/pom.xml.versionsBackup
/ZebraIntegration/ZebraIntegrationCore/pom.xml.versionsBackup
/ZebraIntegration/pom.xml.versionsBackup
/pom.xml.versionsBackup
/ShipmentManagement/ShipmentManagementApi/pom.xml.versionsBackup
/ShipmentManagement/ShipmentManagementCore/pom.xml.versionsBackup
/ShipmentManagement/pom.xml.versionsBackup
